.btn-calendar:hover {
  color: #593196;
}

.btn-calendar {
  color: #A991D4;
}

select, select option {
  color: #000000;
}

select:invalid, select option[value=""] {
  color: #868e96;
}

/*Added for browser compatibility*/

[hidden] {
  display: none;
}

/* Speed dial button (currency choices) */

.speed-dial:hover .speed-dial__button--root, .speed-dial__button--root:hover {
  background-color: #A991D4;
  color: white !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.speed-dial:hover .speed-dial__button--root svg, .speed-dial__button--root:hover svg {
  transform: rotate(45deg)
}

.speed-dial {
  position: relative;
  margin-top: 0.17em;
}

.speed-dial .flex-center {
  display: flex;
  justify-content: center;
  align-items: center
}

.speed-dial button {
  cursor: pointer;
  border: 0
}

.speed-dial [data-direction] {
  position: absolute;
  display: flex;
  visibility: hidden
}

.speed-dial [data-direction=top] {
  bottom: 20px;
  width: 20px;
  flex-direction: column
}

.speed-dial [data-direction=top] .speed-dial__button--small {
  margin-bottom: 7px
}

.speed-dial [data-direction=bottom] {
  top: 20px;
  width: 20px;
  flex-direction: column-reverse
}

.speed-dial [data-direction=bottom] .speed-dial__button--small {
  margin-top: 7px
}

.speed-dial [data-direction=left] {
  top: 0;
  right: 20px;
  height: 20px;
  flex-direction: row
}

.speed-dial [data-direction=left] .speed-dial__button--small {
  margin-right: 7px
}

.speed-dial [data-direction=right] {
  top: 0;
  left: 101%;
  height: 20px;
}

.speed-dial [data-direction=right] .speed-dial__button--small {
  margin-left: 7px
}

.speed-dial .icon {
  transition: all .1s ease-in-out;
  width: 12px;
  height: 12px;
  fill: #464646
}

.speed-dial .icon__plus {
  width: 12px;
  height: 12px;
  fill: #fff
}

.speed-dial__item {
  position: relative;
  transition: transform .2s cubic-bezier(.4, 0, .2, 1) 0ms, opacity .8s;
  opacity: 0;
  transform: scale(0)
}

.speed-dial:hover [data-direction] {
  visibility: visible
}

.speed-dial:hover [data-direction=bottom] span, .speed-dial:hover [data-direction=top] span {
  right: 30px
}

.speed-dial:hover [data-direction=left] span, .speed-dial:hover [data-direction=right] span {
  top: -20px
}

.speed-dial:hover .speed-dial__item {
  opacity: 1;
  transform: scale(1)
}

.speed-dial__button--small {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ebebeb;
  transition: all .5s;
}

.speed-dial__button--small:hover {
  background-color: #ddd
}

.speed-dial__button--small:hover span {
  display: block
}

.speed-dial span {
  display: none;
  position: absolute;
  padding: 5px;
  color: #fff;
  font-size: 11px;
  background-color: #464646;
  border-radius: 5px
}

.speed-dial__button--root {
  height: 20px;
  border-radius: 15px;
  background-color: white;
  color: #593196;
  padding-bottom: 1.3em;
  padding-top: 0em;
}

.dropdown-menu-center {
  right: 50%;
  left: auto;
  width: 18em;
  -webkit-transform: translate(50%, 10%);
  -o-transform: translate(50%, 10%);
  transform: translate(50%, 10%);
}

@media (min-width: 1300px){
  .navbar-expand-xxl {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-xxl .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-xxl .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbar-expand-xxl .navbar-collapse {
      display: flex!important;
  }
  .navbar-expand-xxl .navbar-toggler {
      display: none;
  }
}