<nav class="navbar navbar-expand-xxl navbar-light bg-light p-1 shadow-sm">
    <a class="navbar-brand d-flex align-items-start mt-1 ml-3 mr-4" href="/">
        <svg class="text-primary mr-2 mt-1" version="1.1" fill="currentColor" height="1em"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 377 90.7">
            <path d="M76.9,24.7C52.5,27.3,28.3,30.4,4,33.3c-1.3,0.2-2.6,0-4-0.6c16.9-2.7,33.8-5.6,50.8-8.2c34.5-5.3,69-10.8,103.6-15.7
c23.4-3.3,46.8-6.8,70.3-8.5c24.6-1.7,48,2.5,70.4,12.8c23.8,10.9,47.1,22.7,68.7,37.4c2.6,1.8,5.2,3.7,7.6,5.7
c7.1,6,7.5,14.2,1,20.9c-8,8.2-18.4,11.2-29.3,12.3c-22.6,2.2-45.3,0.7-67.9,0.5c-42-0.4-84-1.1-125.9-1.7c-2.4,0-4.8,0-7.2,0
c0-0.3,0-0.5,0-0.8c37.2,0,74.3,0.1,111.5-0.1c16.8-0.1,33.7,1.1,50.4-0.9c9.5-1.1,18.7-3.7,26.2-9.9c9.9-8.1,9.8-16.5-0.1-24.3
c-19-15.2-40-26.9-62.1-36.7c-16.3-7.2-33.4-6.7-50.6-5.5" />
        </svg>
        <h4 class="text-secondary">TrouveTon<span class="text-primary">Train</span></h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form [formGroup]="searchTrainForm" (ngSubmit)="onSubmit()" class="collapse navbar-collapse" id="navbarColor03">
        <div class="input-group mr-3" style="width: 18em;">
            <div class="input-group-prepend">
                <span class="input-group-text px-1 mb-1 border-0 pr-2 ml-2" id="inputGroup-sizing-sm">De : </span>
            </div>
            <input formControlName="from" type="text"
                class="form-control px-1 mb-1 border-top-0 border-left-0 border-right-0" placeholder="Gare de départ"
                [class.border-danger]="invalidFields['from'] && searchTrainForm.controls.from.invalid"
                [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false'
                (selectItem)="getCityFromPosition($event)" />
        </div>
        <div class="input-group mr-2" style="width: 18em;">
            <div class="input-group-prepend">
                <span class="input-group-text  px-1 mb-1 border-0 pr-2" id="inputGroup-sizing-sm">Vers : </span>
            </div>
            <input formControlName="to" type="text"
                class="form-control px-1 mb-1 border-top-0 border-left-0 border-right-0 " placeholder="Gare d'arrivé"
                [class.border-danger]="invalidFields['to'] && searchTrainForm.controls.to.invalid"
                [ngbTypeahead]="search" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false'
                (selectItem)="getCityToPosition($event)" />
        </div>
        <div class="input-group mr-auto" style="width: 18em;">
            <div class="input-group-append mr-2">
                <button class="btn btn-calendar px-0 pt-0 pb-2 my-0 ml-3 mr-0 border-0" (click)="d.toggle()" type="button">
                    <svg class="text-primary" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor"
                        stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line x1="16" y1="2" x2="16" y2="6"></line>
                        <line x1="8" y1="2" x2="8" y2="6"></line>
                        <line x1="3" y1="10" x2="21" y2="10"></line>
                    </svg>
                </button>
            </div>
            <input formControlName="date" class="form-control px-1 mb-1 border-top-0 border-left-0 border-right-0"
                placeholder="JJ/MM/AAAA" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                [class.border-danger]="invalidFields['date'] && searchTrainForm.controls.date.invalid">
            <select formControlName="hour"
                class="custom-select w-10 px-1 mb-1 border-top-0 border-left-0 border-right-0" id="inputGroupSelect01"
                [class.border-danger]="invalidFields['hour'] && searchTrainForm.controls.hour.invalid"
                style="max-width: 4em;">
                <option value="" disabled selected hidden><span class="text-primary">HH</span></option>
                <option value="0">00h</option>
                <option value="1">01h</option>
                <option value="2">02h</option>
                <option value="3">03h</option>
                <option value="4">04h</option>
                <option value="5">05h</option>
                <option value="6">06h</option>
                <option value="7">07h</option>
                <option value="8">08h</option>
                <option value="9">09h</option>
                <option value="10">10h</option>
                <option value="11">11h</option>
                <option value="12">12h</option>
                <option value="13">13h</option>
                <option value="14">14h</option>
                <option value="15">15h</option>
                <option value="16">16h</option>
                <option value="17">17h</option>
                <option value="18">18h</option>
                <option value="19">19h</option>
                <option value="20">20h</option>
                <option value="21">21h</option>
                <option value="22">22h</option>
                <option value="23">23h</option>
            </select>
            <select formControlName="minute" class="custom-select px-1 mb-1 border-top-0 border-left-0 border-right-0"
                [class.border-danger]="invalidFields['minute'] && searchTrainForm.controls.minute.invalid"
                id="inputGroupSelect01" style="max-width: 4em;">
                <option value="" disabled selected hidden>MM</option>
                <option value="0">00</option>
                <option value="5">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>
        </div>
        <div class="d-flex justify-content-end" style="width: 18em; margin-right: 1em;">
            <div class="btn-group dropleft" *ngIf="userSearchHistories">
                <button class="btn btn-calendar px-0 pt-0 pb-1 mr-3 m-0 border-0" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="1 4 1 10 7 10"></polyline>
                        <path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path>
                        <polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-center mt-4">
                    <button type="button" class="dropdown-item px-1 text-truncate" *ngFor="let search of userSearchHistories" (click)="submitHistory(search)">
                        <b>{{ search.hour | number:'2.0-0' }}h{{ search.minute | number:'2.0-0' }}</b> - 
                        {{ search.from.name }} <span *ngIf="search.from.department">({{ search.from.department }})</span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                            x="0px" y="0px" viewBox="0 0 448.011 448.011"
                            width="10" class="pb-1 ml-1" fill="currentColor">
                            <path
                                d="M438.731,209.463l-416-192c-6.624-3.008-14.528-1.216-19.136,4.48c-4.64,5.696-4.8,13.792-0.384,19.648l136.8,182.4    
                                l-136.8,182.4c-4.416,5.856-4.256,13.984,0.352,19.648c3.104,3.872,7.744,5.952,12.448,5.952c2.272,0,4.544-0.48,6.688-1.472    
                                l416-192c5.696-2.624,9.312-8.288,9.312-14.528S444.395,212.087,438.731,209.463z" />
                        </svg>
                        {{ search.to.name }} <span *ngIf="search.to.department">({{ search.to.department }})</span>
                    </button>
                </div>
            </div>
            <button class="btn btn-outline-primary my-0 pt-1" type="submit" style="width: 6.5em;">
                Voyager !
            </button>
        </div>
    </form>
</nav>

<main class="container text-center" style="margin-top: 6em;" *ngIf="!from && !errors">
    <h4 class="display-4">Saisissez dès à présent <span class="text-secondary">votre itinéraire</span> pour
        obtenir les <span class="text-primary">meilleurs voyages</span> !</h4>
</main>

<div *ngFor="let alert of alerts;" class="position-absolute w-100">
    <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</div>

<div class="container text-center" style="margin-top: 6em;" *ngIf="errors">
    <h4 class="display-4">Oups, il semblerait que nous ayons rencontré une erreur...</h4>
</div>

<main class="container" style="margin-top: 4em;" *ngIf="!errors && from">
    <h3 class="mb-2">
        <small>
            <b class="text-secondary">{{ from.name }} <span *ngIf="from.department">({{ from.department }})</span></b>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                x="0px" y="0px" viewBox="0 0 448.011 448.011"
                width="14" class="pb-1 mx-2" fill="currentColor">
                <path
                    d="M438.731,209.463l-416-192c-6.624-3.008-14.528-1.216-19.136,4.48c-4.64,5.696-4.8,13.792-0.384,19.648l136.8,182.4    
                    l-136.8,182.4c-4.416,5.856-4.256,13.984,0.352,19.648c3.104,3.872,7.744,5.952,12.448,5.952c2.272,0,4.544-0.48,6.688-1.472    
                    l416-192c5.696-2.624,9.312-8.288,9.312-14.528S444.395,212.087,438.731,209.463z" />
            </svg>
            <b class="text-primary">{{ to.name }} <span *ngIf="to.department">({{ to.department }})</span></b>
            <span class="text-muted ml-3" *ngIf="distance">({{ distance | number:'1.0-0' }} km)</span>
        </small>
    </h3>
    <h4>
        <small class="position-absolute">
            <div class="d-flex justify-content-start" *ngIf="price">
                <span placement="bottom">Prix conseillé :</span>
                <div class="speed-dial mt-0 ml-2">
                    <button class="speed-dial__button--root" style="transition-delay: 100ms;">
                        {{ price | number:'1.0-0' }}{{ currencySelected.symbol }}
                    </button>
                    <div class="speed-dial__action" data-direction="right" style="padding-top:0.10em;">
                        <div class="speed-dial__item flex-center" style="transition-delay: 150ms;"
                            *ngFor="let currency of currencies">
                            <button class="speed-dial__button--small flex-center pt-0" ngbTooltip="{{ currency.label }}"
                                tooltipClass="custom-tooltip" (click)="changeCurrency(currency)"
                                [style.background-color]="currencySelected==currency?'#593196':'#ebebeb'"
                                [style.color]="currencySelected==currency?'white':'black'">
                                <small>{{ currency.symbol }}</small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </small>
    </h4>

    <div class="container text-center" style="margin-top: 6em;" *ngIf="searching">
        <h4 class="display-4">Recherche de vos voyages...</h4>
        <div class="spinner-grow text-secondary" role="status" style="width: 2rem; height: 2rem;">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-primary mx-3" role="status" style="width: 2rem; height: 2rem;">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status" style="width: 2rem; height: 2rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="container text-center" style="margin-top: 6em;" *ngIf="journeys && journeys.length === 0 && !searching">
        <h4 class="display-4">Oups, aucun voyage n'a été trouvé...</h4>
    </div>

    <div *ngIf="journeys && journeys.length > 0 && !searching" style="margin-top: 4em;">

        <div class="card w-100 bg-light shadow-sm border-0 mb-3" *ngFor="let journey of journeys; index as i;">
            <div class="card-header border-0 d-flex justify-content-start">
                <div>
                    <h5>
                        <span class="text-secondary"
                            style="width: 3em; float: left;">{{ journey.leave | date:'HH:mm' }}</span>
                        <span class="font-weight-normal">{{ journey.from }}</span>
                    </h5>
                    <span *ngFor="let section of journey.sections" id="detailsCollapse{{ i }}" class="collapse">
                        <h6 *ngIf="journey.from !== section.from">
                            <span class="text-secondary"
                                style="width: 3em; float: left;">{{ section.leave | date:'HH:mm' }}</span>
                            <span class="font-weight-normal">{{ section.from }}</span>
                        </h6>
                        <h6>
                            <span class="ml-3 font-weight-normal">|
                                {{ section.transportType }}{{ section.transportType === 'Bus' || section.transportType === 'Tramway' || section.transportType === 'Metro' ? ' (ligne ' + section.code + ')' : '' }},
                                direction {{ section.direction }}</span>
                        </h6>
                        <h6 *ngIf="journey.to !== section.to">
                            <span class="text-primary"
                                style="width: 3em; float: left;">{{ section.arrival | date:'HH:mm' }}</span>
                            <span class="font-weight-normal">{{ section.to }}</span>
                        </h6>
                    </span>
                    <h5>
                        <span class="text-primary"
                            style="width: 3em; float: left;">{{ journey.arrival | date:'HH:mm' }}</span>
                        <span class="font-weight-normal">{{ journey.to }}</span>
                    </h5>
                </div>
                <span class="ml-auto">
                    {{ (journey.arrival - journey.leave > 1000*60*60) ? ((journey.arrival - journey.leave - 1000*60*60 | date:'H') + 'h et ') : '' }}
                    {{ journey.arrival - journey.leave | date:'m' }}min.
                    (<a class="btn btn-link px-0 pt-0 pb-1" data-toggle="collapse" attr.href="#detailsCollapse{{ i }}"
                        role="button" aria-expanded="false" attr.aria-controls="detailsCollapse{{ i }}">
                        {{ journey.transfers > 0 ? journey.transfers + (journey.transfers > 1 ? ' changements' : ' changement') : 'direct' }}
                    </a>)
                </span>
            </div>
        </div>

    </div>

</main>