.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6em;
}

.btn-calendar:hover {
  color: #593196;
}

.btn-calendar {
  color: #A991D4;
}

select,
select option {
  color: #000000;
}

select:invalid,
select option[value=""] {
  color: #868e96;
}

/*Added for browser compatibility*/
[hidden] {
  display: none;
}

.or-container {
  align-items: center;
  color: #868e96;
  display: flex;
  margin: 25px 0
}

.line-separator {
  background-color: #868e96;
  flex-grow: 5;
  height: 1px
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center
}