<div class="center">
    <div class="text-center">
        <svg class="text-primary pb-2" version="1.1" fill="currentColor" width="50%" height="100%"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 377 90.7">
            <path d="M76.9,24.7C52.5,27.3,28.3,30.4,4,33.3c-1.3,0.2-2.6,0-4-0.6c16.9-2.7,33.8-5.6,50.8-8.2c34.5-5.3,69-10.8,103.6-15.7
	c23.4-3.3,46.8-6.8,70.3-8.5c24.6-1.7,48,2.5,70.4,12.8c23.8,10.9,47.1,22.7,68.7,37.4c2.6,1.8,5.2,3.7,7.6,5.7
	c7.1,6,7.5,14.2,1,20.9c-8,8.2-18.4,11.2-29.3,12.3c-22.6,2.2-45.3,0.7-67.9,0.5c-42-0.4-84-1.1-125.9-1.7c-2.4,0-4.8,0-7.2,0
	c0-0.3,0-0.5,0-0.8c37.2,0,74.3,0.1,111.5-0.1c16.8-0.1,33.7,1.1,50.4-0.9c9.5-1.1,18.7-3.7,26.2-9.9c9.9-8.1,9.8-16.5-0.1-24.3
	c-19-15.2-40-26.9-62.1-36.7c-16.3-7.2-33.4-6.7-50.6-5.5" />
        </svg>
        <h1 class="text-secondary mb-4">TrouveTon<span class="text-primary">Train</span></h1>
        <form class="form-group" [formGroup]="searchTrainForm" (ngSubmit)="onSubmit()">
            <input formControlName="from" type="text"
                class="form-control px-1 mb-1 border-top-0 border-left-0 border-right-0 shadow-sm"
                placeholder="Gare de départ" [ngbTypeahead]="search" [inputFormatter]="formatter"
                [resultFormatter]="formatter" [editable]='false' />
            <input formControlName="to" type="text"
                class="form-control px-1 mb-1 border-top-0 border-left-0 border-right-0 shadow-sm"
                placeholder="Gare d'arrivé" [ngbTypeahead]="search" [inputFormatter]="formatter"
                [resultFormatter]="formatter" [editable]='false' />
            <div class="input-group">
                <div class="input-group-append mr-2">
                    <button class="btn btn-calendar p-0 m-0 border-0" (click)="d.toggle()" type="button">
                        <svg class="text-primary" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor"
                            stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"
                            class="css-i6dzq1">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                    </button>
                </div>
                <input formControlName="date" class="form-control px-1 mb-1 border-top-0 border-left-0 border-right-0"
                    placeholder="JJ/MM/AAAA" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                <select formControlName="hour"
                    class="custom-select w-10 px-1 mb-1 border-top-0 border-left-0 border-right-0 shadow-sm"
                    id="inputGroupSelect01" required style="max-width: 4em;">
                    <option value="" disabled selected hidden><span class="text-primary">HH</span></option>
                    <option value="0">00h</option>
                    <option value="1">01h</option>
                    <option value="2">02h</option>
                    <option value="3">03h</option>
                    <option value="4">04h</option>
                    <option value="5">05h</option>
                    <option value="6">06h</option>
                    <option value="7">07h</option>
                    <option value="8">08h</option>
                    <option value="9">09h</option>
                    <option value="10">10h</option>
                    <option value="11">11h</option>
                    <option value="12">12h</option>
                    <option value="13">13h</option>
                    <option value="14">14h</option>
                    <option value="15">15h</option>
                    <option value="16">16h</option>
                    <option value="17">17h</option>
                    <option value="18">18h</option>
                    <option value="19">19h</option>
                    <option value="20">20h</option>
                    <option value="21">21h</option>
                    <option value="22">22h</option>
                    <option value="23">23h</option>
                </select>

                <select formControlName="minute"
                    class="custom-select px-1 mb-1 border-top-0 border-left-0 border-right-0 shadow-sm"
                    id="inputGroupSelect01" required style="max-width: 4em;">
                    <option value="" disabled selected hidden>MM</option>
                    <option value="0">00</option>
                    <option value="5">05</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="35">35</option>
                    <option value="40">40</option>
                    <option value="45">45</option>
                    <option value="50">50</option>
                    <option value="55">55</option>
                </select>
            </div>

            <!-- Saved searches -->
            <div *ngIf="authService.user | async as user; else unlogged">
                <button class="btn btn-calendar px-0 pt-0 pb-1 mt-4 m-0 border-0" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="1 4 1 10 7 10"></polyline>
                        <path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path>
                        <polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-center mt-4" style="width: 18em;">
                    <button class="dropdown-item px-1 text-truncate" *ngFor="let search of userSearchHistories" type="button"
                        (click)="submitHistory(search)">
                        <b>{{ search.hour | number:'2.0-0' }}h{{ search.minute | number:'2.0-0' }}</b> -
                        {{ search.from.name }} <span *ngIf="search.from.department">({{ search.from.department }})</span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            id="Capa_1" x="0px" y="0px" viewBox="0 0 448.011 448.011" width="10" class="pb-1 ml-1"
                            fill="currentColor">
                            <path d="M438.731,209.463l-416-192c-6.624-3.008-14.528-1.216-19.136,4.48c-4.64,5.696-4.8,13.792-0.384,19.648l136.8,182.4    
                                    l-136.8,182.4c-4.416,5.856-4.256,13.984,0.352,19.648c3.104,3.872,7.744,5.952,12.448,5.952c2.272,0,4.544-0.48,6.688-1.472    
                                    l416-192c5.696-2.624,9.312-8.288,9.312-14.528S444.395,212.087,438.731,209.463z" />
                        </svg>
                        {{ search.to.name }} <span *ngIf="search.to.department">({{ search.to.department }})</span>
                    </button>
                </div>
                <button type="submit" class="btn btn-outline-primary mt-4" style="width: 19.5em; margin-left: 0.5em;">Voyager !</button>
            </div>
            <ng-template #unlogged>
                <button type="submit" class="btn btn-outline-primary mt-4 w-100">Voyager !</button>
            </ng-template>
        </form>

        <div class="or-container">
            <div class="line-separator"></div>
            <div class="or-label">Restons connecté</div>
            <div class="line-separator"></div>
        </div>
        <span *ngIf="authService.user | async as user; else login">
            Bonjour <span class="text-primary">{{ user.displayName}}</span> !
            <br />
            (<button class="btn btn-link m-0 p-0 pb-1" (click)="authService.signOut()">se déconnecter</button>)
        </span>
        <ng-template #login>
            <button type="button" class="btn btn-outline-primary w-100 py-0" (click)="authService.googleSignIn()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    width="18px" height="18px" class="my-2" viewBox="0 0 533.5 544.3">
                    <style type="text/css">
                        .st0 {
                            fill: #4285F4;
                        }

                        .st1 {
                            fill: #34A853;
                        }

                        .st2 {
                            fill: #FBBC04;
                        }

                        .st3 {
                            fill: #EA4335;
                        }
                    </style>
                    <g>
                        <path class="st0"
                            d="M533.5,278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1,33.8-25.7,63.7-54.4,82.7v68h87.7   C503.9,431.2,533.5,361.2,533.5,278.4z" />
                        <path class="st1"
                            d="M272.1,544.3c73.4,0,135.3-24.1,180.4-65.7l-87.7-68c-24.4,16.6-55.9,26-92.6,26c-71,0-131.2-47.9-152.8-112.3   H28.9v70.1C75.1,486.3,169.2,544.3,272.1,544.3z" />
                        <path class="st2"
                            d="M119.3,324.3c-11.4-33.8-11.4-70.4,0-104.2V150H28.9c-38.6,76.9-38.6,167.5,0,244.4L119.3,324.3z" />
                        <path class="st3"
                            d="M272.1,107.7c38.8-0.6,76.3,14,104.4,40.8l0,0l77.7-77.7C405,24.6,339.7-0.8,272.1,0C169.2,0,75.1,58,28.9,150   l90.4,70.1C140.8,155.6,201.1,107.7,272.1,107.7z" />
                    </g>
                </svg>
                <span class="ml-3">Se connecter avec Google</span>
            </button>
        </ng-template>
    </div>
</div>